
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>HomePage</title>
<%= stylesheet_link_tag :style %>
</head>
<body>
  <div class="webname">
    <font size="+3"><strong>Jim Davis</strong></font>&nbsp;
    </div>
    <div class="NaviBar">
                <ul>
                  <li><%= link_to 'Home', '/home.html' %></li>
                  <li><%= link_to 'Appointments', '/appointments.html' %></li>
                  <li><%= link_to 'Contact', '/contact.html' %></a></li>
                  <li><%= link_to 'Research Interests', '/research.html' %></li>
                  <li><%= link_to 'Media', '/media.html' %></li>
                  <li><%= link_to 'Recent News', '/currentNews.html' %></li>
                  <li><%= link_to 'Publications', '/publications.html' %></li>
                  <li><%= link_to 'People', '/people.html' %></li>
                  <li><%= link_to 'Teaching', '/teaching.html' %></li>
                  <li><%= link_to 'Pictures', '/pictures.html' %></li>
                </ul>
            </div>    
    <div class="selfimage">  
            <img src="../images/jwdavis-dispatch.jpg" alt="selfimage">
        </div>
    <div class="photocredit">
      <font size="-1">Photo by Tom Dodge, Columbus Dispatch, 2009</font>
    </div>
</body>
</html>

